<%- include("../partials/title")%>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="py-8">
        <h1 class="text-3xl font-bold pb-4 text-center">Books Lists</h1>
        <p class="text-lg py-4 text-center">All Books Listed Here</p>
        <div class="grid grid-cols-3 gap-6 max-w-6xl mx-auto">
            <% {addNewBook.forEach((book)=>{%>
                <div class="shadow-md rounded-md">
                    <img src="<%=book.image%>" alt="<%= book.name %>" class=" max-w-xl w-full h-[400px] object-cover rounded-md"/>
                    <div class="p-4 space-y-2">
                        <h1 class="text-xl font-bold"><%= book.name %></h1>
                        <p class="text-lg"><%= book.author %></p>
                        <p class="text-lg">$<%= book.price %></p>
                        <button class="text-lg bg-pink-500 text-white w-full py-2 px-4" >View Details</button>
                        <button class="text-lg bg-pink-500 text-white w-full py-2 px-4" >Add To Cart</button>
                    </div>
                </div>
                <% })}%>
            </div>
        </div>
        </body>
        </html>