<%- include("partials/title")%>
</head>
<body>
    <%- include("partials/header") %>
    <h1>All Books Listed Here</h1>
    <% {addNewBook.forEach((book)=>{%>
    <div>
        <h1><%= book.name %></h1>
        <p><%= book.author %></p>
        <img src="<%=book.image%>" alt="<%= book.name %>">
        <p><%= book.price %></p>
        <button>View Details</button>
    </div>
    <%  })
    }%>
</body>
</html>